{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}book create{% endblock %}

{% block content %}

    <div class="container mt-4" dir="ltr">
        <div class="row">
            <div class="col-9">
                <div class="card shadow my-3">
                    <h5 class="card-header bg-success text-light px-5">form</h5>
                    <div class="px-5 pt-3 pb-5">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-success m-3">save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">

                <div class="card my-3 shadow">
                    <h5 class="card-header bg-warning text-light">help</h5>
                    <div class="card-body">
                        <p class="card-text">write books information here then save it
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}a